
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/modules.xml

.idea/php.xml

.idea/sonarlint/issuestore/index.pb

.idea/symfony-template.iml

.idea/vcs.xml

.idea/workspace.xml
